<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <title>BullPick Home</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
  <div class="container text-right">
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>
  </div>

  <div class="container text-left">
    <p>
      Welcome to BullPick <b>[[${#request.userPrincipal.principal.fullName}]]</b>
    </p>
  </div>

  <div class="container text-center">
    <div>
      <h1>BullPick Stock Screener</h1>
    </div>
    <div>
    <p></p>
      <div class="container text-center">
        <form th:action="@{/stock}" method="get">
        <input type="text" placeholder="Stock Symbol" name="search">
        <button type="submit">Quick Search</button>
        </form>
      </div>

      <div class="container text-left">
        <h2>Portfolios</h2>
        <form th:action="@{/portfolio/add}" method="get">
          <input type="submit" value="Add Portfolio"/>
        </form>
      </div>
<!--      <div class="container text-left">-->
<!--        <form th:action="@{/stock/add}" method="get">-->
<!--          <input type="submit" value="Add Stock to Portfolio"/>-->
<!--        </form>-->
<!--      </div>-->

    <div class="container text-right">
      <form th:action="@{/list}" method="get">
        <input type="submit" value="List"/>
      </form>
    </div>
      <p></p>
    </div>
    <div>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
            <tr th:each="portfolio : ${portfolios}">
            <td >
              <a th:href="'/portfolio/detail?portfolioId=' + ${portfolio.id}"
                 th:text="${portfolio.name}"/>
            </td>
            <td th:text="${portfolio.description}"></td>
            <td>
<!--              <form th:name="_method" th:type="hidden" th:action="@{/home}" th:value="DELETE">-->
              <form th:action="@{'/home/' + ${portfolio.id}}" th:method="get">
                <input type="submit" value="Delete">
              </form>

              <a th:href="'/stock/add-portfolio?portfolioId=' + ${portfolio.id}"
                 th:text="'Add Stock'"/>

            </td>
            </tr>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</body>
</html>