<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <title>BullPick Home</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
  <div class="container text-right">
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>
  </div>
  <div class="container text-left">
    <form th:action="@{/home}" method="get">
      <input type="submit" value="Home"/>
    </form>
  </div>
  <div class="container text-center">
    <div>
      <h1>All Stocks traded on NYSE and Nasdaq</h1>
    </div>

    <div class="container text-left">
      <h2></h2>
    </div>
    <div>
      <input type="text" id="myInput" onkeyup="sortTable()" placeholder="Search for Company..">
      <table id="stockTable" class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Description</th>
            <th>Stock Symbol</th>
            <th>Stock Type</th>
            <th>MIC</th>
          </tr>
          <tr th:each="nyseStockList : ${nyseStockList}">
            <td th:text="${nyseStockList.description}"></td>
            <td>
              <a th:href="@{/stock(search=${nyseStockList.symbol})}"
                 th:text="${nyseStockList.symbol}"
                 th:onclick="this.getAttribute(${nyseStockList.symbol})"
                 target="_blank"
                 />
            </td>
            <td th:text="${nyseStockList.type}"></td>
            <td th:text="${nyseStockList.mic}"></td>
          </tr>
          <tr th:each="nasdaqStockList : ${nasdaqStockList}">
              <td th:text="${nasdaqStockList.description}"></td>
              <td>
                <a th:href="@{/stock(search=${nasdaqStockList.symbol})}"
                   th:text="${nasdaqStockList.symbol}"
                   th:onclick="this.getAttribute(${nyseStockList.symbol})"
                   target="_blank"
                   />
              </td>
              <td th:text="${nasdaqStockList.type}"></td>
              <td th:text="${nasdaqStockList.mic}"></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</body>

<script>
//sort list table of stocks
  function sortTable() {
  let input = document.getElementById("myInput");
  let filter = input.value.toUpperCase();
  let table = document.getElementById("stockTable");
  let tr = table.getElementsByTagName("tr");
  let td;
  let textValue;

  //loop through all table rows, hide non-matches
  for (let i = 0; i < tr.length; i++) {
   td = tr[i].getElementsByTagName("td")[0];
   if (td) {
   textValue = td.textContent || td.innerText;
   if (textValue.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
      }
     }
    }
   }
</script>
</html>