<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container text-center">
        <div>
            <h3>You have successfully created your BullPick Stock Screener account!</h3>
            <h4><a th:href="@{/login}">login to account here</a></h4>
        </div>
    </div>
</body>
</html>