<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <title>BullPick Home</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
  <div class="container text-right">
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>
  </div>
  <div class="container text-left">
    <form th:action="@{/home}" method="get">
      <input type="submit" value="Home"/>
    </form>
  </div>
  <div class="container text-left">
    <p>
    </p>
  </div>

  <div class="container text-center">
    <div>
      <iframe width="100%" frameborder="0" height="400" src th:src="${candlestickWidget}"></iframe>
    </div>

    <div class="container text-left">
      <h2>Portfolios</h2>
    </div>

    <div class="container text-right">
      <form th:action="@{/list}" method="get">
        <input type="submit" value="List"/>
      </form>
    </div>
    <div>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</body>
</html>